.navbar {
	width: 100vw;
	/*height: 50px;*/
	background: black;
	color: white;
	padding: 25px 10px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.links {
	width: max-content;
}

@media screen and (max-width: 700px) {
	.navbar {
		display: block;
	}
	.links {
		width: 100%;
	}
}